<div class="tab-pane" id="register" role="tabpanel">
  <div class="row">
    <div class="col-md-12">
      <form id="register-form" action="#" method="post">
        <div class="form-group">
          <input type="text" name="user_name" id="user_name" tabindex="1" class="form-control"
            placeholder="Username" value="">
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" tabindex="1" class="form-control"
            placeholder="Email Address" value="">
        </div>
        <div class="form-group">
          <input type="password" name="user_password" id="user_password" tabindex="2"
            class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <input type="password" name="confirm-password" id="confirm-password" tabindex="2"
            class="form-control" placeholder="Confirm Password">
        </div>
        <div class="res-box text-left">
          <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
          <label for="remember">I've read and accept terms &amp; conditions</label>
        </div>
        <div class="res-box text-center mt-30">
          <button type="submit" class="btn v8"><i class="lnr lnr-enter"></i>Sign Up</button>
        </div>
      </form>

    </div>

  </div>
</div>
