<div class="" id="general_info">
  <h4>Rent Apartment 9326 Horn</h4>
  <div class="row">

      <div class="col-md-3">
          <div class="form-group">
              <label>Rooms</label>
              <input type="number" class="form-control filter-input" placeholder="No of rooms">
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Living Space</label>
              <input type="number" class="form-control filter-input" placeholder="Space">
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Street & No</label>
              <input type="text" class="form-control filter-input" placeholder="Street no">
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Zip code & city</label>
              <input type="text" class="form-control filter-input" placeholder="Zipcode & city">
          </div>
      </div>

<div class="col-md-12">
          <div class="form-group">
              <img src="assets/images/property/property_map.jpg" alt="">
          </div>
      </div>

<div class="col-md-12">
          <div class="form-group">
              <label>Available</label>
<div class="flex-box">
<div class="field">
<label class="radio-container"><p>Immediately</p>
<input type="radio" name="radio" checked>
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>By agreement</p>
<input type="radio" name="radio" >
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>Date</p>
<input type="radio" name="radio" >
<span class="checkmark"></span>
</label>
</div>
          </div>
</div> <!--flex-box-->
      </div>

<h4 class="form-heading">Cost</h4>

<div class="col-md-6">
          <div class="form-group">
              <label>Rents</label>
              <select class="listing-input hero__form-input  form-control custom-select">
              <option>CHF</option>
              <option>EUR</option>
              <option>USD</option>

          </select>
          </div>
      </div>

<div class="col-md-6">
          <div class="form-group">
              <label>Price</label>
              <input type="number" class="form-control filter-input" placeholder="Add your price">
          </div>
      </div>

<div class="col-md-12">
          <div class="form-group">
              <input id="check-a" type="checkbox" name="check" checked>
             <label for="check-a">Additional expenses included</label>
          </div>
      </div>


<div class="col-md-12">
          <div class="form-group">
              <label>Unit</label>
<div class="flex-box">
<div class="field">
<label class="radio-container"><p>Month</p>
<input type="radio" name="radio" checked>
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>Week</p>
<input type="radio" name="radio" >
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>Day</p>
<input type="radio" name="radio" >
<span class="checkmark"></span>
</label>
</div>
          </div>
</div> <!--flex-box-->
      </div>


<h4 class="form-heading">Details</h4>


<div class="col-md-3">
          <div class="form-group">
              <label>Floor</label>
              <select class="listing-input hero__form-input  form-control custom-select">
              <option>UG</option>
              <option>EG</option>
              <option>1</option>
               <option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
          </select>
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Number of floors</label>
              <input type="number" class="form-control filter-input" placeholder="Number of floors">
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Lot size</label>
              <input type="number" class="form-control filter-input" placeholder="Size">
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Floor space</label>
              <input type="number" class="form-control filter-input" placeholder="Space">
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Room height</label>
              <input type="number" class="form-control filter-input" placeholder="In Meter">
          </div>
      </div>

<div class="col-md-3">
          <div class="form-group">
              <label>Volume</label>
              <input type="number" class="form-control filter-input" placeholder="Volume">
          </div>
      </div>



<div class="col-md-3">
          <div class="form-group">
              <label>Year built</label>
              <input class="form-control" type="date" placeholder="Build">
          </div>
      </div>


<div class="col-md-3">
          <div class="form-group">
              <label>Last renovation</label>
              <input class="form-control" type="date" placeholder="Renovation">
          </div>
      </div>


<h4 class="form-heading">Features and furnishings</h4>

<div class="col-md-12">
          <div class="form-group">

<div class="check-list">

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Has wheelchair access</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Child-friendly</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Pets allowed</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Smoking permitted</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Balcony / Terrace</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Garage</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Parking place</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Elevator</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Fireplace</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Washing machine</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Cable TV</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>View</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Quiet neighbourhood</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Minergie construction</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Minergie certified</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>New building</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->

<div class="field-check">
<label class="checkbuttoncontainer">
<p>Old building</p>
<input type="checkbox">
<span class="checkbuttoncheckmark"></span>
</label>
</div> <!--field-check-->


              </div> <!--check-list-->
          </div>
      </div>


<h4 class="form-heading">Photos and documents</h4>


<div class="col-md-6 ">
          <div class="form-group">
<label>Photos</label>
              <form class="photo-upload">
                  <div class="form-group">
                      <div class="add-listing__input-file-box">
                          <input class="add-listing__input-file" type="file" name="file" multiple>
                          <div class="add-listing__input-file-wrap">
                              <i class="lnr lnr-cloud-upload"></i>
                              <p>Click here to upload your images</p>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>


<div class="col-md-6">
          <div class="form-group">
              <form class="photo-upload">
                  <div class="form-group">
                      <label> Documents</label>
                      <div class="add-listing__input-file-box">
                          <input class="add-listing__input-file" type="file" name="file" id="file">
                          <div class="add-listing__input-file-wrap">
                              <i class="lnr lnr-cloud-upload"></i>
                              <p>Click here to upload Documents</p>
                          </div>
                      </div>
                  </div>
              </form>
          </div>

      </div>



      <div class="col-md-12 ">
<div class="form-group">
          <label> Video Link</label>
          <input type="text" class="form-control filter-input" placeholder=" ">
         <p>Please enter an existing youtube video URL (e.g https://www.youtube.com/watch?v=00000)</p>
</div>
      </div>


<h4 class="form-heading">Description</h4>

<div class="col-md-6">
          <div class="form-group">
              <label>Title</label>
              <input type="text" class="form-control filter-input" placeholder="Title of your property">
          </div>
      </div>

      <div class="col-md-12">
          <div class="form-group">
              <label for="list_info">Description</label>
              <textarea class="form-control" id="list_info" rows="4" placeholder="Enter your text here"></textarea>
          </div>
      </div>



<h4 class="form-heading">Contact</h4>




      <div class="col-md-4">
          <div class="form-group">
              <label>Name </label>
              <input type="text" class="form-control filter-input" placeholder="Name">
          </div>
      </div>

      <div class="col-md-4">
<div class="form-group">
          <label>Country</label>
          <select class="listing-input hero__form-input  form-control custom-select">
              <option>+41 Switzerland</option>
              <option>+44 UK</option>
              <option>+1  USA </option>
          </select>
</div>
      </div>

      <div class="col-md-4">
<div class="form-group">
          <label>Enter Phone</label>
          <input type="number" class="form-control filter-input" placeholder="Phone">
</div>
      </div>

<div class="col-md-6">
<div class="form-group">
          <label>Enter Email</label>
          <input type="text" class="form-control filter-input" placeholder="Email">
</div>
      </div>

<div class="col-md-12">
<div class="form-group">
          <label class="checkbuttoncontainer">
<p>Contact for viewing is the same as contact person above</p>
<input type="checkbox" checked>
<span class="checkbuttoncheckmark"></span>
</label>
</div>
      </div>


<h4 class="form-heading">Saved Automatically 23:31 17.02.2021</h4>

<div class="col-md-12">
<div class="add-btn">
       <a href="#" class="btn v3 mt-30">Contine</a>
       </div>
</div>

  </div>
</div> <!--General-->
