<!--Home Quick Section starts-->
<div class="home-quick-section">
  <div class="container">
      <div class="row">

<div class="promo-link-wrap">
  <div class="row">
  <div class="col-xl-6 col-lg-12">
  <div class="promo-content-link">
    <h4>Real Estate For Rent</h4>
    <div class="links">
    <a href=""> Real estate for rent</a>
    <a href=""> Apartment for rent</a>
    <a href=""> House, chalet, rustico for rent</a>
    <a href=""> Parking space, garage for rent</a>
    <a href=""> Furnished dwelling for rent</a>
    </div> <!--links-->

  </div>
  </div>

  <div class="col-xl-6 col-lg-12">
  <div class="promo-content-link">
    <h4>Real Estate For Buy</h4>
    <div class="links">
    <a href=""> Real estate for rent</a>
    <a href=""> Apartment for rent</a>
    <a href=""> House, chalet, rustico for rent</a>
    <a href=""> Parking space, garage for rent</a>
    <a href=""> Furnished dwelling for rent</a>
    </div> <!--links-->
  </div>
  </div>

  <div class="col-xl-6 col-lg-12">
  <div class="promo-content-link">
    <h4>Rent An Apartment / House In</h4>
    <div class="links">
    <a href=""> Zurich</a>
    <a href=""> Lucerne</a>
    <a href=""> Bern</a>
    <a href=""> Winterthur</a>
    <a href=""> St. Gallen</a>
    </div> <!--links-->

  </div>
  </div>

  <div class="col-xl-6 col-lg-12">
  <div class="promo-content-link">
    <h4>Buy An Apartment / House In</h4>
    <div class="links">
    <a href=""> Switzerland</a>
    <a href=""> Baselland</a>
    <a href=""> Lucerne</a>
    <a href=""> Winterthur</a>
    <a href=""> St. Gallen</a>
    </div> <!--links-->
  </div>
  </div>

</div>
</div>

      </div>
  </div>
</div>
<!--Home Quick Section ends-->
