<div class="" id="Billing">
  <h4>Billing</h4>
  <div class="row">

      <div class="col-md-12">
          <div class="form-group">
              <label>Bill to</label>
<div class="flex-box">
<div class="field">
<label class="radio-container"><p>Person</p>
<input type="radio" name="radio" checked="">
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>Company</p>
<input type="radio" name="radio">
<span class="checkmark"></span>
</label>
</div>
          </div> <!--flex-box-->
</div>
      </div>

<div class="col-md-12">
          <div class="form-group">
              <label>Title</label>
<div class="flex-box">
<div class="field">
<label class="radio-container"><p>Mrs.</p>
<input type="radio" name="radio" checked="">
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>Mr.</p>
<input type="radio" name="radio">
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>No title</p>
<input type="radio" name="radio">
<span class="checkmark"></span>
</label>
</div>
          </div> <!--flex-box-->
</div>
      </div>


<div class="col-md-4">
          <div class="form-group">
              <label>Name </label>
              <input type="text" class="form-control filter-input" placeholder="Name">
          </div>
      </div>

      <div class="col-md-4">
<div class="form-group">
          <label>Code</label>
          <select class="listing-input hero__form-input  form-control custom-select">
              <option>+41 Switzerland</option>
              <option>+44 UK</option>
              <option>+1  USA </option>
          </select>
</div>
      </div>

      <div class="col-md-4">
<div class="form-group">
          <label> Phone</label>
          <input type="number" class="form-control filter-input" placeholder="Phone">
</div>
      </div>

<div class="col-md-4">
<div class="form-group">
          <label> Email</label>
          <input type="text" class="form-control filter-input" placeholder="Email">
</div>
      </div>


<div class="col-md-4">
<div class="form-group">
          <label>Street & Number</label>
          <input type="text" class="form-control filter-input" placeholder="No">
</div>
      </div>


<div class="col-md-4">
<div class="form-group">
          <label>City</label>
          <input type="text" class="form-control filter-input" placeholder="City">
</div>
      </div>

<div class="col-md-4">
<div class="form-group">
          <label>Zip</label>
          <input type="text" class="form-control filter-input" placeholder="Zip">
</div>
      </div>


<div class="col-md-4">
<div class="form-group">
          <label>Country</label>
          <select class="listing-input hero__form-input  form-control custom-select">
              <option> Switzerland</option>
              <option> UK</option>
              <option> USA </option>
          </select>
</div>
      </div>

<div class="col-md-4">
<div class="form-group">
          <label>Invoice language</label>
          <select class="listing-input hero__form-input  form-control custom-select">
              <option>English</option>
              <option>Italiano</option>
              <option> Deutsch </option>
          </select>
</div>
      </div>


<div class="col-md-12">
          <div class="form-group">
              <label>Invoice type</label>
<div class="flex-box">
<div class="field">
<label class="radio-container"><p>E-mail</p>
<input type="radio" name="radio" checked="">
<span class="checkmark"></span>
</label>
</div>
<div class="field">
<label class="radio-container"><p>E-mail and Postal</p>
<input type="radio" name="radio">
<span class="checkmark"></span>
</label>
</div>
          </div> <!--flex-box-->
</div>
      </div>


<div class="add-footer-publish col-md-12">

<h4>Your selection: <span>Package Top</span></h4>

<div class="line">
<h5>First week price</h5>
<h6>CHF 199.95</h6>
</div> <!--line-->

<div class="line">
<h5>Weekly flat rate thereafter</h5>
<h6>CHF 59.95</h6>
</div> <!--line-->

<h4>Payment Method: <span>Invoice</span></h4>

<p>We use your billing address for the invoice only. Once submitted your ad will be reviewed. Your first billing period will start after your ad is approved and online.</p>

<div class="terms-block">
<h3>Terms and conditions</h3>
<div class="check">
<label class="checkbuttoncontainer">
<p>The listing on homegate.ch is chargeable. I accept the listing conditions and the prices for publishing it.</p>
<input type="checkbox" checked>
<span class="checkbuttoncheckmark"></span>
</label>
</div>
</div> <!--terms-block-->

<h4><span>Saved Automatically</span> 21:29 18.02.2021</h4>

</div> <!---add-footer-publish-->


<div class="col-md-12">
<div class="add-btn">
<a href="#" class="btn v3 mt-30 mr-5">Back</a>
       <a href="#" class="btn btn-dark v3 mt-30">Publish</a>
       </div>
</div>

  </div>
</div> <!---Billing-->
