<!--Listing filter starts-->
<div class="filter-wrapper style1 section-padding">
  <div class="container">
      <div class="row">


<div class="col-md-12">
<h3>My Ads</h3>
</div>

              <div class="item-wrapper pt-40   ">
                  <div class="tab-content" id="myTabContent">

                      <div class="tab-pane  show active fade property-list fullwidth" id="list-view">

                          <div class="single-property-box">
                              <div class="row">
                                  <div class="col-xl-4 col-lg-4 col-md-12">
                                      <div class="property-item">
                                          <a class="property-img" href=""><img src="assets/images/property/property_1.jpg" alt="#">
                                          </a>

                                      </div>
                                  </div>
                                  <div class="col-xl-8 col-lg-8 col-md-12">
                                      <div class="property-title-box">
              <div class="trending-bottom">
                                              <div class="trend-left float-left">
                    <p class="list-date">
                    Rent. Apartment. 1207 Geneva. Route de Chene 20
                    </p><br>
                                                  <p class="list-date">
                    <span class="item_price">
                    <span class="currency">CHF</span>
                    <span class="num">2,650.–</span>
                    </span>
                    <span>
                    <span class="num">2.5</span>
                    <span class="item_room_number_label">rm</span>
                    </span>
                    </p>

                    <p class="review-add"> <span>Under review</span>This ad is being review. During the review the add is not accessable. </p>

                    <p class="package"> <span>Package:</span>Top <span>Object Reference:</span>hgonif#v9qua.aa2wc6 </p>

                    <p class="invoice"> <span>Invoice Details:</span> User Name . User email address . User phone number . 0124 Newport</p>

                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div> <!--single-property-box--->



        <div class="single-property-box">
                              <div class="row">
                                  <div class="col-xl-4 col-lg-4 col-md-12">
                                      <div class="property-item">
                                          <a class="property-img" href=""><img src="assets/images/property/property_1.jpg" alt="#">
                                          </a>

                                      </div>
                                  </div>
                                  <div class="col-xl-8 col-lg-8 col-md-12">
                                      <div class="property-title-box">
              <div class="trending-bottom">
                                              <div class="trend-left float-left">
                    <p class="list-date">
                    Rent. Apartment. 1207 Geneva. Route de Chene 20
                    </p><br>
                                                  <p class="list-date">
                    <span class="item_price">
                    <span class="currency">CHF</span>
                    <span class="num">2,650.–</span>
                    </span>
                    <span>
                    <span class="num">2.5</span>
                    <span class="item_room_number_label">rm</span>
                    </span>
                    </p>

                    <p class="review-add"> <span>Under review</span>This ad is being review. During the review the add is not accessable. </p>

                    <p class="package"> <span>Package:</span>Top <span>Object Reference:</span>hgonif#v9qua.aa2wc6 </p>

                    <p class="invoice"> <span>Invoice Details:</span> User Name . User email address . User phone number . 0124 Newport</p>

                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div> <!--single-property-box--->




                      </div> <!--property-list-->


                  </div>
              </div>

      </div>
  </div>
</div>
<!--Listing filter ends-->
