<div class="filter-wrapper style1 section-padding">
  <div class="container">
      <div class="row">


<div class="col-md-12">
<h3>Favourites</h3>
<p><b>Note:</b> Your favourites are only saved on this device.</p>
</div>

              <div class="item-wrapper pt-40   ">
                  <div class="tab-content" id="myTabContent">

                      <div class="tab-pane  show active fade property-list fullwidth" id="list-view">

                          <div class="single-property-box">
                              <div class="row">
                                  <div class="col-xl-4 col-lg-4 col-md-12">
                                      <div class="property-item">
                                          <a class="property-img" href=""><img src="assets/images/property/property_1.jpg" alt="#">
                                          </a>

                                          <div class="property-author-wrap">

                                              <ul class="save-btn">
                                                  <li data-toggle="tooltip" data-placement="top" title="Photos"><a href="" class="btn-gallery"> <i class="lnr lnr-camera"></i>5 Photos</a></li>
                                              </ul>

                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xl-8 col-lg-8 col-md-12">
                                      <div class="property-title-box">
              <div class="trending-bottom">
                                              <div class="trend-left float-left">
                                                  <p class="list-date">
                    <span class="item_price">
                    <span class="currency">CHF</span>
                    <span class="num">2,650.–</span>
                    </span>
                    <span>
                    <span class="num">2.5</span>
                    <span class="item_room_number_label">rm</span>
                    </span>

                    </p>
                                              </div>

                                          </div>
                                          <h4><a href="">Bahnhofstrasse 33, 5400 Baden</a></h4>
                                          <div class="property-location">

                                              <p>Im Zentrum von Baden vermieten wir nach Vereinbarung neu erstellte hochwertige Stadtwohnungen im Postareal. Jede Wohnung besticht durch lichtdurchflutete Räumlichkeiten mit spannendem Raumkonzept. Die modernen Küchen sind in einem hellen Farbton gehalten und geben zur Arbeitsfläche aus Granit in "Steel-Gray" einen edlen und stilvollen Kontrast. Die Küche verfügt über moderne Miele Geräte wie Geschirrspüler, Induktionskochfeld, Kühl- /Gefrierschrankkombination, Wärmeschublade, Combi-Dampfgarer und Kompakt Backofen-Mikrowelle. Bodenbeläge aus einem hochwertigen Eichen-Parkett sowie die Wärmeverteilung durch Bodenheizung ergänzen die Behaglichkeit. Wir freuen uns auf Ihre Kontaktaufnahme und stehen Ihnen bei Fragen gerne zur Verfügung.</p>
                                          </div>
                                          <ul class="property-feature">
                                              <li>
                                                  <a href="listing-detail.html" class="btn v7">Contact The Advertiser </a>
                                              </li>
                                          </ul>
                 <div class="save-property">
                                              <a href="" class="btn save"><i class="lnr lnr-heart"></i> Remove</a>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div> <!--single-property-box--->


        <div class="single-property-box">
                              <div class="row">
                                  <div class="col-xl-4 col-lg-4 col-md-12">
                                      <div class="property-item">
                                          <a class="property-img" href=""><img src="assets/images/property/property_1.jpg" alt="#">
                                          </a>

                                          <div class="property-author-wrap">

                                              <ul class="save-btn">
                                                  <li data-toggle="tooltip" data-placement="top" title="Photos"><a href="" class="btn-gallery"> <i class="lnr lnr-camera"></i>5 Photos</a></li>
                                              </ul>

                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xl-8 col-lg-8 col-md-12">
                                      <div class="property-title-box">
              <div class="trending-bottom">
                                              <div class="trend-left float-left">
                                                  <p class="list-date">
                    <span class="item_price">
                    <span class="currency">CHF</span>
                    <span class="num">2,650.–</span>
                    </span>
                    <span>
                    <span class="num">2.5</span>
                    <span class="item_room_number_label">rm</span>
                    </span>

                    </p>
                                              </div>

                                          </div>
                                          <h4><a href="">Bahnhofstrasse 33, 5400 Baden</a></h4>
                                          <div class="property-location">

                                              <p>Im Zentrum von Baden vermieten wir nach Vereinbarung neu erstellte hochwertige Stadtwohnungen im Postareal. Jede Wohnung besticht durch lichtdurchflutete Räumlichkeiten mit spannendem Raumkonzept. Die modernen Küchen sind in einem hellen Farbton gehalten und geben zur Arbeitsfläche aus Granit in "Steel-Gray" einen edlen und stilvollen Kontrast. Die Küche verfügt über moderne Miele Geräte wie Geschirrspüler, Induktionskochfeld, Kühl- /Gefrierschrankkombination, Wärmeschublade, Combi-Dampfgarer und Kompakt Backofen-Mikrowelle. Bodenbeläge aus einem hochwertigen Eichen-Parkett sowie die Wärmeverteilung durch Bodenheizung ergänzen die Behaglichkeit. Wir freuen uns auf Ihre Kontaktaufnahme und stehen Ihnen bei Fragen gerne zur Verfügung.</p>
                                          </div>
                                          <ul class="property-feature">
                                              <li>
                                                  <a href="listing-detail.html" class="btn v7">Contact The Advertiser </a>
                                              </li>
                                          </ul>
                 <div class="save-property">
                                              <a href="" class="btn save"><i class="lnr lnr-heart"></i> Remove</a>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                          </div> <!--single-property-box--->


                      </div> <!--property-list-->


                  </div>
              </div>

      </div>
  </div>
</div>
